@font-face {
    font-family: 'Ginto-Nord';
    src:url(fonts/Ginto-Nord-600.woff2);
}
@font-face {
    font-family: 'ggsans';
    src:url(fonts/ggsans-Normal.ttf);
}

@font-face {
    font-family: 'ggsans-med';
    src:url(fonts/ggsans-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    
    overflow-x: hidden;
    overflow-y: auto;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    background-color: #404EED;
    gap: 100px;
    height: 75px;

}
.nav-button{
    background-color: white;
    color: black;
    height: 40px;
    width: 120px;
    border: none;
    font-size: 14px;
    border-radius: 20px;
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    
}
.nav-list-item{
    display: flex;
    transition:all 200ms;
    gap: 25px;
}
.nav-list-item:hover{

    cursor: pointer;

}
.nav-list-item a{
    text-decoration: none;
    color: white;
    font-family: 'ggsans';
    font-size: 20px;
    line-height: 30px;
    font-weight:600;
    

}
.nav-list-item a:hover{
    text-decoration: underline;

}

.nav-button:hover{
    cursor: pointer;
}

.hero-container{
    width:1260px;
    height: 550px;
    background-image: url(./images/Image0.svg);
    z-index: -1;
    position: relative;
}
.hero-section img{
    z-index: 1;
    position: absolute;
    left: 30%;
    overflow-y: hidden;
    

}
.hero-section .image1{
    top: 35.5%;
    left: 40%;
}
.hero-section .image2{
    top: 37.5%;
    left: 10%;
}
.hero-container{
    height:560px;
    width: 1300px;
    background-color: #404EED;
    position: relative;
    overflow-y: hidden;
    
}

.hero-section h2{
    font-size: 56px;
    font-weight: 800;
    line-height: 84px;
    text-align: center;
    color: white;
    font-family: 'Ginto-Nord',sans-serif;
    z-index: 1;
}
.hero-section h4{
    text-align: center;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    
    max-width: 930px;
    padding-left: 130px;
    font-size: 20px;
    font-weight: 300;
    line-height: 32.5px;
    color: white;

}
.hero-section-button{
    z-index: 1;

    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family
    :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    

}
.hero-section{
    padding: 110px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    }

.hero-section-button button{

    border: 0px;
    border-radius: 40px;
    height: 60px;
    width: 320px;
    font-size: 20px;
    font-weight: 500;
    z-index: 1;

}
.button1{
    color: black;
    background-color: white;
    transition: all;
    transition-duration: 200ms;
}

.hero-section a{
    text-decoration: none;
    color: black;
}

.button2 a{
    background-color: black;
    color: white;
}
.button2 {
    background-color: black;
    color: white;
}

.feature1-container{
    background-color: #fff;

    padding: 160px 20px 160px 60px;
}
.feature1-section{
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
  
}
.feature2-container{
    background-color:#F6F6F6;

    padding: 160px 0px 160px 0px;
}
.feature2-section{
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  
}
.feature2-section img{

    margin-right: 60px;

}
.feature2-section .text{
    margin-left: 120px;
}
.feature3-container{
    background-color: #fff;

    padding: 160px 10px 160px 50px;
}
.feature3-section{

    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
  
}

.photo img{
    max-width: 580px;
    margin-top: 40px;
}
.text {
    max-width: 600px;
    padding-right: 160px;
    display: flex;
    flex-direction:column;
    gap: 30px;
}
.text h1{
    font-size: 48px;
    font-weight: bolder;
    line-height: 57.6px;
    max-width: 400px;
    font-family: 'ggsans-med';
    
}
.text p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    max-width: 400px;
    font-family: 'ggsans';
}

.core-feature{
    background-color:#F6F6F6;
    padding: 160px 100px 160px 100px;
}
.core-section{

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;


}

.core-section h1{
    font-family: 'Ginto-Nord';
    font-size: 40px;
    line-height: 32px;
    font-weight:bolder;
}
.core-section p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
    font-size: 20px;
    font-weight: 200;
    line-height: 32.5px;
    max-width: 950px;
}
.core-section img{
    margin-top: 60px;
    transform: scale(1.3);
}
.last{
    position: relative;
    margin-top: 10px;
}
.last img{
    transform: scale(1);
    
    z-index: -1;
}
.last h3{
    z-index: 1;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 38px;
    font-weight: bolder;
    font-family: 'ggsans-med';
    
}
.core-section button{
    border: 0px;
    border-radius: 40px;
    height: 60px;
    width: 280px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #404EED;

}
.last-button:hover{
    cursor: pointer;
}

footer{
    height: 610px;
    background-color: #23272A;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}

.leftpart h1{
    font-family: 'Ginto-Nord';
    font-size: 34px;
    line-height: 30.4px;
    font-weight: 900;
    color: #5865F2;
    margin-top: -160px;
    }

.rightpart h2{

    font-family: 'ggsans';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #404EED;

}
.rightpart a{
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    text-decoration:none;
    font-family: 'ggsans';
}

.rightpart a:hover{

    text-decoration: underline;

}

.footer-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 120px 80px 20px 80px;
    gap: 150px;
}

.rightpart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 90px;
}
.rightpart .col1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.rightpart .col2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.rightpart .col3{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.rightpart .col4{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.line
{
    height: 1px;
    width: 1115px;
    background-color:#404EED;
}
.ending{
    display: flex;
    flex-direction: row;
    gap: 900px;

}
.ending-button{
    height: 40px;
    width: 90px;
    background-color:#5865F2;
    border-radius: 30px;
    border: none;
}
.ending a{
    
    text-decoration: none;
    color: #fff;
    font-family: 'ggsans';
    font-weight: 600;

    font-size: 16px;
}
.ending-button:hover{
    cursor:pointer;

}